# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build
dist/
build/
out/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Coverage / tests
coverage/

# Prisma
generated/
prisma/migrations/

# TS
*.tsbuildinfo

# Jest
jest-cache/

# Git
.git/
